.footer {
  background-color: rgba(33, 33, 33, 0.7);
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 60px 0;
}

.footer__copyright {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #212121b2;
  margin: 0 auto;
  text-align: center;
}
